%section
  %h5 Position: #{@job.title}
  %p A total of #{pluralize(@applications.count, 'user')} applied for this job.


.row
  .col-8
    - @applications.each do |application|
      .card
        .card-body
          %h5.card-title= application.user.name
          %p.card-text= application.user.summary
          = link_to "Hire", hire_path(id: application.id), method: 'put', class: 'card-link'
          = link_to "Reject", reject_path(id: application.id), method: 'put', class: 'card-link'
