%section.text-center
	.jumbotron.jumbotron-fluid
		.container-fluid
			%h2= @job.title
			%h3.py-3= @job.employer.name
			- if current_user
				= link_to "Apply Now", job_applications_path(@job), class: "btn btn-dark", method: 'post'
				= link_to "Save to Favourite", job_favourites_path(@job), class: "btn btn-dark", method: 'post'

%section.my-3
	%h5 About the Job
	%p= @job.description

%section.my-3
	%h5 Job Requirements
	%p= @job.requirement

%section.my-3
	.row
		.col-6
			%h5 Additional Info
			%ul
				%li
					%span.badge.badge-secondary= industry_title(@job)
				%li
					%span.badge.badge-secondary= job_type_title(@job)
				%li
					%span.badge.badge-secondary= state_title(@job)

- if current_employer
	

	%section.my-3
		= link_to job_applications_path(@job) do
			Job Applicants #{@job.users.count}



%section.my-3
	= link_to employer_path(@job.employer), nil do
		%h5 Company Page
