%section
  .card.mb-2
    .card-header
      User Profile
    .card-body
      %h5.card-title= @user.name
      %p.card-text Email: #{@user.email}
      = link_to "Update Profile", edit_user_path(@user), class: 'btn btn-primary'

%section
  .card.mb-2
    .card-header
      Activity
    .card-body
      %p.card-text Jobs Applied: #{@jobs_applied.count}
      %p.card-text Applications Accepted: #{@applications_accepted.count}
      %p.card-text Applications Rejected: #{@applications_rejected.count}

%section
  .card.mb-2
    .card-header
      Short Summary
    .card-body
      %p.card-text= @user.summary


%section
  .card.mb-2
    .card-header
      Favourite Job
    .card-body
      %ul
        - @user.favourite_jobs.each do |job|
          %li= link_to job.title, job_path(job)