%ul.nav.flex-column.bg-light

  - if current_user
    %li.nav-item
      %a.nav-link.active{:href => "#"} Companies
    %li.nav-item
      = link_to "Jobs", jobs_path, class: 'nav-link'
    %hr
    %li.nav-item
      = link_to 'My Dashboard', user_path(current_user), class: 'nav-link'
    %li.nav-item
      = link_to "Update Profile", edit_user_path(current_user), class: 'nav-link'
    %li.nav-item
      %a.nav-link{:href => "#"} Change Password
    %li.nav-item
      %a.nav-link{:href => "#"} Job Preferences
    %li.nav-item
      %a.nav-link{:href => "#"} Job History
    %li.nav-item
      = link_to "Log out", logout_path, class: 'nav-link'

  - elsif current_employer
    %li.nav-item
      = link_to "Create Job", new_job_path, class: 'nav-link'
    %hr
    %li.nav-item
      %a.nav-link{:href => "#"} Dashboard
    %li.nav-item
      %a.nav-link{:href => "#"} Update Profile
    %li.nav-item
      = link_to "Log out", logout_path, class: 'nav-link'      

  - else
    %li.nav-item
      = link_to "Log in", login_path, class: 'nav-link'
    %li.nav-item
      = link_to "Not a member?", register_page_path, class: 'nav-link'