!!! 5
%html(lang="en-US")
	%head
		%title Wobb
		= csrf_meta_tag
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
	%body
		.container
			%header
				= render 'shared/header'
			%main
				.row
					.col-3
						= render 'shared/sidebar'
					.col-9
						= render "shared/messages"
						= yield
			%footer
				/ = render 'shared/footer'

